.blog{
  margin-bottom: 300px;
  &-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;

  }
  &-item{
    grid-template-rows: repeat(3, 1fr);
    &-column{
      margin-bottom: 100px;
    }
    &-image{
      margin-bottom: 40px;
      cursor: zoom-in;
      width: 100%;
    }
    &-title{
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 20px;
    }
    &-work{
      font-size: 14px;
      font-weight: 300;
      color: $text-color;
    }
  }
  &-button{
    text-align: center;
  }
}

.lightbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(56, 54, 54, 0.747);
  z-index: 10000;
}
.lightbox-image{
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 500px;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.arrow-back{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 30px;
  color: $white-color;
  transform: translateY(-50%);
  cursor: pointer;
  
}
.arrow-next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 30px;
  color: $white-color;
  transform: translateY(-50%);

}