.content-head{
  position: relative;
  margin-bottom: 200px;
  &-image{
    margin-left: auto;
    position: relative;
  }
  &-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
  }
  &-text span{
    display: block;
  }
}
.head-title-second{
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 15px;
}
.head-title-main{
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.head-link {
  font-size: 18px;
  color: $text-color;
  border-bottom: 1px solid $text-color ;
}



