.header{
  padding-top: 40px;
  margin-bottom: 50px;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item{
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.nav-item p{
  font-weight: bold;
}
.nav-item span{
  font-weight: normal;
  margin-right: 20px;
}

