.partner{
  margin-bottom: 300px;
  // background-color: $bg-gray-color;
  &-list{
     display: grid;
     grid-template-columns: repeat(4,1fr); 
     grid-column-gap: 120px;
     grid-row-gap: 100px;
     padding: 0 60px;
    //  align-items: center;
  }
}