$main-font: 'Raleway', sans-serif;
$second-font: 'Open Sans', sans-serif;
$main-color: #393e46;
$footer-color: #282f3a;
$text-color: #6a727f;
$btn-color: #4a44f2;
$white-color: #fff;
$bg-gray-color: #f8f8f9;
$fz-title: 22px;